body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 80%;
  height: 100vh;
  margin-left:10%;
  border:1px solid;
  box-shadow: 0px 0px 15px gray;
  min-width: 780px;
}

.header {
  height: 10vh;
  width: 100%;
  background-color: #070e2b;
  color: white;
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #aaaaaa;
}

button{
  background-color: white;
  border-color: #070e2b;
  color: #070e2b;
  cursor: pointer;
}

button:hover{
  background-color: #070e2b;
  border-color: white;
  color: white;
  cursor: pointer;
}

#addLocationButton {
  height: 4.5vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 2vh;
  font-size: 3vh;
}

.feed {
  height: 81.5vh;
  width:90%;
  margin-left: 5%;
  margin-top: 2vh;
  overflow-y: auto;
}

#city, #state, #country {
  width: 94%;
  height: 4vh;
  margin-left: 3%;
  border:2px solid;
  border-color: #070e2b;
  padding:1px;
  font-size: 3vh;
}

#locationFormSubmit{
  width: 50%;
  height: 4vh;
  font-size: 3vh;
  margin-left: 25%;
  margin-top: 2vh;
}

.locationSearchResult{
  background-color: #070e2b;
  color:white;
  width: 94%;
  margin-left: 3%;
  height: 8vh;
  margin-top: 1vh;
}

.locationSearchResultText{
  width: 70%;
  height: 8vh;
  display: flex;
  align-items: center;
  float:left;
}

.locationSearchResultButton{
  width: 29%;
  float:left;
  height:6vh;
  margin-top: 1vh;
  font-size: 3vh;
}

.locationFormLabel{
  margin: 3%;
  line-height: 2em;
  font-size: 2.5vh;
  color: #070e2b;
}

.location{
  width:100%;
  margin-top:1vh;
  height: 100px;
  background-color: #070e2b;
  color: white;
  cursor: pointer;
}

.locationCity{
  width:60%;
  height:100%;
  //background-color: blue;
  float:left;
}

.locationTemp{
  width:30%;
  height:100%;
  float:left;
  display: flex;
  align-items: center;
}

.locationTemp h1 {
  width:100%;
  text-align: right;
}

.sunnyIcon{
  float:left;
  background-image: url('images/sunny.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.cloudyIcon{
  float:left;
  background-image: url('images/cloudy.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.partlyCloudyIcon{
  float:left;
  background-image: url('images/partly-cloudy.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.thunderstormIcon{
  float:left;
  background-image: url('images/thunderstorm.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.rainIcon{
  width:10%;
  height:100%;
  float:left;
  background-image: url('images/rainy.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.snowIcon{
  float:left;
  background-image: url('images/snowy.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.windIcon{
  float:left;
  background-image: url('images/windy.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:contain;
}

.weatherPage{
  width: 95%;
  height: 70vh;
  margin: 2.5%;
  border: 1px solid;
}

.footer{
  width: 100%;
  height: 11.5vh;
  background-color: #070e2b;
}

.forecastDay{
  height: 25vh;
  width: 19%;
  margin: 0.5%;
  background-color: #070e2b;
  float: left;
  color: white;
  text-align: center;
}

.weatherPageHeader{
  height: 10vh;
  width: 39%;
  margin: 0.5%;
  float: left;
}

.weatherPageTemperature{
  height: 10vh;
  width: 19%;
  margin: 0.5%;
  float: left;
}

.weatherPageCondition{
  height: 10vh;
  width: 24%;
  margin: 0.5%;
  float: left;
}